body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    background-color: #3757b0;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


#about, #education, #skills, #contact {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3757b0;
    border-bottom: 2px solid #3757b0; 
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #3757b0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}